.itemnull {
}
@charset "utf-8";
.kui_d_pane { position: absolute; margin: 0; z-index: 9999; }
.kui_d_pane.onlyone { width:300px;}
.kui_data_content_pane { border: 2px solid #cccccc; width: 560px; font-size: 12px; position: absolute; left: 0; z-index: 100; top: 0; background: #fff;padding:15px; }
.onlyone .kui_data_content_pane{ width: 266px;}
.kui_data_content_pane a:link, .kui_data_content_pane a:visited { color: #222222; text-decoration: none; font-weight: 900; }
.kui_data_content_pane a:hover { color: #fff; }
.kui_date_reset { border-top: 1px #2092D6 dotted; clear: both; margin: 3px; padding: 3px; text-align: right; display:none;}
.kui_date_reset span { cursor: pointer; background: #2192D6; color: #FFF; padding: 2px 5px; margin-left: 3px; }
.kui_prev_next_month { height: 36px; line-height: 36px; font-weight: bold; text-align: center; width:100%; overflow:hidden;}
.kui_prev_m, .kui_today { float: left; margin-left: 6px; }
.kui_prev_m { background: url(/images/date_prev.png) 0 0 no-repeat; height: 28px; width:30px; margin-top:3px; }
.kui_prev_m.disabled { background: url(/images/date_prev_dis.png) 0 0 no-repeat;}
.kui_today, .kui_tomorrow { width: 148px; text-align: center; color: #000; cursor: default; font-size:18px; }
.kui_tomorrow { float: right; }
.kui_next_m { float: right; margin-right: 6px; background: url(/images/date_next.png) 0 0 no-repeat; height: 28px; width:30px; margin-top:3px; }
.kui_next_m.disabled { background: url(/images/date_next_dis.png) 0 0 no-repeat;}
.kui_d_jt { position:absolute; left:30px; top:-9px; width:20px; height:10px;}
.kui_d_jt img { float:left;}
.kui_data_tab, .kui_date_info { width: 266px; margin: 2px auto; zoom: 1; overflow: hidden; }
dl.kui_data_tab dt { font-weight: bold; }
.kui_data_tab dt { line-height: 30px; height: 30px; text-align: center; width: 38px; float: left; }
.kui_date_info dt { line-height: 36px; height: 36px; text-align: center; cursor: default; width: 36px; float: left; color: #333; background:#ececec; margin:1px;}
.kui_date_info dt.kui_not_kong { cursor:pointer;}
.d_th_bg { color: #FF9900; }
.kui_date_info .kui_td_kong { background: #fff; cursor: default; }
.kui_time_pane { background: #2092D6; line-height: 22px; height: 22px; overflow: hidden; margin-bottom: 4px; padding-bottom: 1px; background: url(/images/date_top.png) 4px 0 no-repeat; }
.kui_clean_btn { float: left; padding-left: 6px; }
.kui_close_btn { float: right; padding-right: 6px; }
.kui_time { float: left; padding-left: 8px; }
.kui_time input { width: 17px; padding: 1px; line-height: 12px; height: 12px; margin-right: 2px; margin-top: 2px; _margin-top: 1px; }
.kui_date_info .td_select.first { background: url(/images/date_ico.png) no-repeat #b3ddf0; color:#fff;}
.kui_date_info .td_select.last { background: url(/images/date_ico.png) no-repeat -38px 0 #b3ddf0; color:#fff;}
.kui_date_info .td_select.first.last { background: url(/images/date_ico.png) no-repeat -300px 0 #0896ff; color:#fff;}
.kui_date_info .td_select_ { background:#2092D6; color:#fff;}
.kui_date_info .td_hover {background: #b3ddf0;  cursor: pointer; color:#543376;}
.kui_txt_hide { display: none; }
dl.kui_date_info .kui_td_hui { background: #f7f7f7; cursor: default; color: #DBDBDB; font-weight: 400; }
a img { border: 0; }
#left_table { float: left; width: 266px;overflow: hidden; }
#right_table{ float: right; width: 266px; overflow: hidden; }
.onlyone #right_table { display:none;}