@charset "utf-8";
/* CSS reset start*/
body,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
input,
button,
textarea {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
em {
  font-style: normal;
}
/* CSS reset end*/

.wrapper{
	width: 900px;
	margin: 0 auto;
	padding: 50px;
}
