@charset "utf-8";
/* CSS reset start*/
body,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td,
input,
button,
textarea {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
em {
  font-style: normal;
}
/* CSS reset end*/

/* fontstyle start */
@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_m64x6x8kth0bpgb9.eot');
    src: url('//at.alicdn.com/t/font_m64x6x8kth0bpgb9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_m64x6x8kth0bpgb9.woff') format('woff'),
    url('//at.alicdn.com/t/font_m64x6x8kth0bpgb9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_m64x6x8kth0bpgb9.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/* fontstyle end */

body{
    background-color: #f1f1f1;
}

header{
    height: 50px;
}

.mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}

h3{
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 30px;
}

.demo1{
    padding: 20px 50px;
    background-color: #ffffff;
}

.demo1 .calendar-tab{
    width: 900px;
    overflow: hidden;
    border-bottom: 1px solid #5D9FFB;
    background-color: #F8F8FF;
}
.demo1 .calendar-tab a.prev_date,
.demo1 .calendar-tab a.next_date{
    float: left;
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-right: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.demo1 a.prev_date i,
.demo1 a.next_date i{
    color: #0066CC;
}

.demo1 a.prev_date.unable,
.demo1 a.next_date.unable{
    cursor: default;
}

.demo1 a.prev_date.unable i,
.demo1 a.next_date.unable i{
    color: #CCC;
}

.demo1 .calendar-tab .iconfont{
    font-size: 24px;
}

.demo1 .calendar-tab-list{
    width: 700px;
    height: 50px;
    overflow: hidden;
    float: left;
    position: relative;
}

.demo1 .lowest-price-lists{
    width: 100px;
    position: absolute;
    left: 0;
    top: 0;
}

.demo1 .lowest-price-lists li{
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    cursor: pointer;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.demo1 .lowest-price-lists li:hover{
    background-color: #5D9FFB;
}

.demo1 .lowest-price-lists a{
    display: block;
    width: 100%;
    height: 100%;
}

.demo1 .calendar-tab-list span{
    display: block;
    width: 100px;
    height: 25px;
    line-height: 25px;
}

.demo1 .calendar-tab-list span.calendar-date{
    font-size: 14px;
    color: #444;
    font-weight: bold;
}

.demo1 span.base-price{
    color: red;
    font-size: 18px;
}

.demo1 span.base-price em{
    font-size: 14px;
    margin-right: 4px;
    color: #ccc;
}

.demo1 .lowest-price{
    width: 100px;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}

.demo1 .lowest-price i{
    float: left;
    width: 30px;
    height: 40px;
    color: #0066CC;
}

.demo1 .lowest-price .iconfont{
    font-size: 30px;
}

.demo1 .lowest-price span{
    float: right;
    width: 60px;
    line-height: 20px;
    color: #0066CC;
}

.demo1 .lowest-price-container{
    width: 640px;
    height: 390px;
    padding: 15px;
    border: 10px solid #BDBDBD;
    background-color: #fafafa;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -220px 0 0 -345px;
    z-index: 11;
    display: none;
}

.demo1 .lowest-price-container .title{
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
}

.demo1 .lowest-price-container .close-ico{
    float: right;
    width: 16px;
    height: 16px;
    background: url("../image/close-ico.png") no-repeat center;
    margin-top: -10px;
    cursor: pointer;
}

.demo1 .calendar-panel{
    width: 640px;
    height: 351px;
    padding-top: 5px;
}

.demo1 .calendar-panel .calendar-container{
    float: left;
    width: 555px;
    height: 328px;
}

.demo1 .calendar-panel .month-info{
    width: 85px;
    float: right;
    padding: 15px 0;
}

.demo1 .calendar-panel .month_btn{
    display: block;
    height: 36px;
    width: 36px;
    text-align: center;
    line-height:36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #0066CC;
    margin-left: 22px;
}

.demo1 .calendar-panel .next_month{
    margin-top: 160px;
}

.demo1 .month_btn.unable{
    border-color: #ccc;
    cursor: default;
}

.demo1 .month_btn.unable i.iconfont{
    color: #ccc;
}

.demo1 .calendar-panel i.iconfont{
    font-size: 32px;
    font-weight: bold;
    color: #0066CC;
}

.demo1 .calendar-panel .year-selected{
    display: inline-block;
    width: 85px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
    padding-top: 6px;
    color: #B4B4B4;
}

.demo1 .calendar-panel .month-selected{
    display: inline-block;
    width: 85px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.demo1 .flight-info{
    width: 800px;
    height: 300px;
    padding: 50px;
    font-size: 30px;
    background-color: #ccc;
}